<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Railroad tickets</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/"><span>Главная</span></a></li>
			</ul>
		</nav>
		<div class="logo"><a href="/">Railroad Tickets</a></div>
	</header>
	<main>
		{{{body}}}
	</main>
	<footer><div class="sign">Denis Kruglik &copy;</div></footer>
	<div id="alert" class="card"></div>
	<div id="loading-overlay"><i class="fas fa-3x fa-spinner fa-pulse"></i></div>
</body>
</html>