<div class="card">
	<a href="" class="back-ref">Назад</a>
	<form action="/select-place/" method="post" id="credentials">
		<h2>Введите свои личные данные для покупки билета</h2>
		<input type="text" placeholder="Фамилия (на английском)" name="lastName" pattern="[A-Za-z]+" required>
		<input type="text" placeholder="Имя (на английском)" name="firstName" pattern="[A-Za-z]+" required>
		<input type="text" placeholder="Номер паспорта" name="passport" pattern="[A-Z]{2}\d{7}" required>
		<label>
			<span>Срок действия паспорта</span>
			<input type="date" name="validityPeriod" required>
		</label>
		<input type="email" name="email" placeholder="yourmail@example.com" required>
		<input type="tel" name="tel" pattern="\+375(25|29|44)\d{7}" placeholder="+375*********" required>
		<input type="text" id="id" name="tripId" class="hidden" readonly value="{{id}}" required>
		<input type="submit" value="Выбрать место">
	</form>
</div>
<script type="text/javascript" src="/js/credentials.js"></script>